<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feeType</key>
		<string>基础费用</string>
		<key>fees</key>
		<array>
			<dict>
				<key>des</key>
				<string>课时费</string>
				<key>prices</key>
				<integer>2650</integer>
				<key>copies</key>
				<integer>1</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>培训费</string>
				<key>prices</key>
				<integer>1000</integer>
				<key>copies</key>
				<integer>1</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>考试费</string>
				<key>prices</key>
				<integer>480</integer>
				<key>copies</key>
				<integer>1</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>保险费</string>
				<key>prices</key>
				<integer>100</integer>
				<key>copies</key>
				<integer>1</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>资料费</string>
				<key>prices</key>
				<integer>50</integer>
				<key>copies</key>
				<integer>1</integer>
				<key>caption</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>feeType</key>
		<string>可选费用</string>
		<key>fees</key>
		<array>
			<dict>
				<key>des</key>
				<string>包接送</string>
				<key>prices</key>
				<integer>600</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>统一体检</string>
				<key>prices</key>
				<integer>15</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>代办暂住证</string>
				<key>prices</key>
				<integer>100</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>挂科险</string>
				<key>prices</key>
				<integer>600</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string>购买挂科险后，如有挂科无需再交补考费和增时训练费，不限次数。</string>
			</dict>
			<dict>
				<key>des</key>
				<string>长途(食宿费)</string>
				<key>prices</key>
				<integer>150</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>feeType</key>
		<string>选择教练</string>
		<key>fees</key>
		<array>
			<dict>
				<key>des</key>
				<string>五星教练</string>
				<key>prices</key>
				<integer>500</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>四星教练</string>
				<key>prices</key>
				<integer>400</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>三星教练</string>
				<key>prices</key>
				<integer>300</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>二星教练</string>
				<key>prices</key>
				<integer>200</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>一星教练</string>
				<key>prices</key>
				<integer>100</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
			<dict>
				<key>des</key>
				<string>普通教练</string>
				<key>prices</key>
				<integer>0</integer>
				<key>copies</key>
				<integer>0</integer>
				<key>caption</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
